*,
button{
  font-family: 'Press Start 2P', cursive;
}

header{
  background-color: #b71c1c;
  padding-bottom: 12px;
  position: relative;
} 

.label-icon .material-icons{
  font-size: 50px;
}

nav form{
  position:relative;
  top: -90px;
  left: -90px;
}

body{
  background-color: #b71c1c;
  padding-bottom: 0px;
  z-index: 1;
} 

.card-title{
  font-size: 25px;
  /* background-color: #b71c1c; */
}
  
  /* svg {
    position: fixed;
    top: 0;
    width: 100%
    
    
  } */
  
  /* @media (max-width: 699px) {
    .svg--lg {
      display: none;
    }
  }
  
  @media (min-width: 700px) {
    .svg--sm {
      display: none;
    }
  } */

