*,
button {
  font-family: 'Press Start 2P', cursive;
}

header {
  background-color: #b71c1c;
  padding-bottom: 22px;
  position: relative;
}

.label-icon .material-icons {
  font-size: 50px;
}


body {
  background-color: #b71c1c;
}

.card-title {
  font-size: 25px;
  /* background-color: #b71c1c; */
}


.row {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  background-clip: content-box;
  box-shadow: inset 0 0 0 15px #ffffff;
  padding: 15px;
}

.container2 {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  background-clip: content-box;
  padding-top: 0px;
}

svg:not(:root) {
  overflow: hidden;
  display: block;
  justify-content: center;
}


@media (max-width: 992px) {
  .svg--lg {
    display: none;
    
  }
}

@media (min-width: 993px) {
  .svg--sm {
    display: none;
    
  }
}